html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym,
address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u,
i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

html{
    height: 100%;
}

body{

    font-size: 14px/18px ;
    font-family: 'Varela', sans-serif;
    /*background-color: #FFF;*/




    /*height:100%;*/
}

ol, ul{
    list-style:none;
}

*{
    margin: 0;
    padding: 0;
    outline: none;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

a, a:hover{
    text-decoration:none;
}

.clearfix:before,
.clearfix:after{
    content: "";
    display: table;
}

.clearfix:after{
    clear: both;
}

.left{
    float:left;
}

.right{
    float:right;
}

.container{
    width: 940px;
    margin: 0 auto;

}

#wrapper{
    /*фон карбон*/
    /*background: -webkit-linear-gradient(45deg, #292929 25%, transparent 25%, transparent 75%, #292929 75%), -webkit-linear-gradient(45deg, #292929 25%, transparent 25%, transparent 75%, #292929 75%) 0.1875em 0.1875em, -webkit-radial-gradient(at 50% 0, #484847, #090909);*/
    /*background: linear-gradient(45deg, #292929 25%, transparent 25%, transparent 75%, #292929 75%), linear-gradient(45deg, #292929 25%, transparent 25%, transparent 75%, #292929 75%) 0.1875em 0.1875em, radial-gradient(at 50% 0, #484847, #090909);*/
    /*background-size: 0.375em 0.375em, 0.375em 0.375em, 100% 100%;*/

}

#home{
    height: 700px;
    background: #222 url(images/fonkg.jpg) no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#header{
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    width: 100%;
    padding: 20px 0;



}

.user_contact{
    float: left;
    margin-left: 930px;
    margin-top: 26px;
    color: #fff;
}

/*деактивировано*/
.margin_user_hr{
    padding-top: -20px;
    margin-top: 20px;
}

/*.logo{*/
    /*float:right;*/
/*}*/

.user_logo_position{
    padding: -10px;
    margin-bottom: -180px;
    margin-top: 50px;
    margin-left: 8px;
}

.user_color_modal{
    color: black;
}

.user_say_kg{
    float: left;
    margin-left: 20px;
    margin-top: 29px;
    color: #fff;
}

.glyphicon-leaf{
    margin-top: 6px;
    margin-bottom: -50px;

}

span.glyphicon.glyphicon-leaf.user_text_logo.user_logo_position{
    margin-top: 50px;
}

/*Компонент картинка*/
/*------------------*/

/*Картинка которую мы видим в неизменном состоянии*/
.activeFC a:link{  }

/*При наведении на картинку она меняет рисунок на три черточки*/
.activeFC a:active{

}

/*При нажатии на картинку трех черточек появляется меню сайта*/
.activeFC a:visited{

}

/*------------------*/
/*Компонент картинка*/

/*кнопка призрак*/
.ghost-button {
    display: inline-block;
    width: 200px;
    padding: 8px;
    color: #fff;
    border: 1px solid #fff;
    text-align: center;
    outline: none;
    text-decoration: none;

    margin-left: 460px;
    margin-top: 30px;
}
.ghost-button:hover,
.ghost-button:active {
    background-color: #fff;
    color: #000;
}
/*кнопка призрак*/

/*надпись kelvin genetic является компанией производимой ПО для внутреннего рынка*/
.user_marka{
    margin-left: -2px;
    margin-top: -11px;
    color: whitesmoke;
    text-align: center;
    font-weight: 300;
    font-size: 14px;
    font-style: oblique;
}
/*надпись kelvin genetic является компанией производимой ПО для внутреннего рынка*/

/*компонент меню в виде трех горизонтальных черточек*/
.bt-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    border-width: 0px;
    border-style: solid;
    border-color: #333;
    background-color: rgba(0,0,0,0);
    -webkit-backface-visibility: hidden;
    -webkit-transition: border-width 0.3s, background-color 0.3s, height 0s 0.3s;
    transition: border-width 0.3s, background-color 0.3s, height 0s 0.3s;
}

.bt-menu.bt-menu-open {
    height: 100%;
    border-width: 30px 30px 30px 90px;
    background-color: rgba(0,0,0,0.3);
    -webkit-transition: border-width 0.3s, background-color 0.3s;
    transition: border-width 0.3s, background-color 0.3s;
}

.bt-overlay {
    position: absolute;
    width: 100%;
}

.bt-menu-open .bt-overlay {
    height: 100%;
}

.bt-menu-trigger {
    position: fixed;
    top: 15px;
    left: 20px;
    display: block;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.bt-menu-trigger span {
    position: absolute;
    top: 50%;
    left: 0;
    display: block;
    width: 100%;
    height: 4px;
    margin-top: -2px;
    background-color: #fff;
    font-size: 0px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
}

.bt-menu-open .bt-menu-trigger span {
    background-color: transparent;
}

.bt-menu-trigger span:before,
.bt-menu-trigger span:after {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    content: '';
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
}

.bt-menu-trigger span:before {
    -webkit-transform: translateY(-250%);
    transform: translateY(-250%);
}

.bt-menu-trigger span:after {
    -webkit-transform: translateY(250%);
    transform: translateY(250%);
}

.bt-menu-open .bt-menu-trigger span:before {
    -webkit-transform: translateY(0) rotate(45deg);
    transform: translateY(0) rotate(45deg);
}

.bt-menu-open .bt-menu-trigger span:after {
    -webkit-transform: translateY(0) rotate(-45deg);
    transform: translateY(0) rotate(-45deg);
}

.bt-menu ul {
    position: fixed;
    top: 75px;
    left: 0;
    margin: 0;
    padding: 0;
    width: 90px;
    list-style: none;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.bt-menu ul li,
.bt-menu ul li a {
    display: block;
    width: 100%;
    text-align: center;
}

.bt-menu ul li {
    padding: 16px 0;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.2s, visibility 0s 0.3s;
    transition: transform 0.3s, opacity 0.2s, visibility 0s 0.3s;
}

.bt-menu ul li:first-child {
    -webkit-transform: translate3d(-100%,200%,0);
    transform: translate3d(-100%,200%,0);
}

.bt-menu ul li:nth-child(2) {
    -webkit-transform: translate3d(-100%,100%,0);
    transform: translate3d(-100%,100%,0);
}

.bt-menu ul li:nth-child(3) {
    -webkit-transform: translate3d(-100%,0,0);
    transform: translate3d(-100%,0,0);
}

.bt-menu ul li:nth-child(4) {
    -webkit-transform: translate3d(-100%,-100%,0);
    transform: translate3d(-100%,-100%,0);
}

.bt-menu ul li:nth-child(5) {
    -webkit-transform: translate3d(-100%,-200%,0);
    transform: translate3d(-100%,-200%,0);
}

.bt-menu.bt-menu-open ul li {
    visibility: visible;
    opacity: 1;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s 0.1s;
    transition: transform 0.3s, opacity 0.3s;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

.bt-menu ul li a {
    display: block;
    outline: none;
    color: transparent;
    text-decoration: none;
    font-size: 0px;
}

.bt-menu ul li a:before {
    color: #04a466;
    font-size: 48px;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.bt-menu ul li a:hover:before,
.bt-menu ul li a:focus:before  {
    color: #fff;
}

@media screen and (max-height: 31.125em) {
    .bt-menu ul li a:before {
        font-size: 32px;
    }
}
/*компонент меню в виде трех горизонтальных черточек*/

/*текст Что мы можем*/
.h3user{
    margin: 15% 10% 30% 10%;
    text-align: center;
    /*color: whitesmoke;*/
}

/*текст А чего мы не можем*/
.h1user{
    margin: -2% 10% auto 10%;
    text-align: center;
    /*color: whitesmoke;*/
}

/*glitch эффект текста*/


.glitch {
    color: white;
    font-size: 28px;
    position: relative;
    width: 600px;
    margin: 20% auto 0.5% auto;

}

/*@keyframes noise-anim {*/
    /*0% {*/
        /*clip: rect(44px, 9999px, 27px, 0);*/
    /*}*/
    /*5% {*/
        /*clip: rect(31px, 9999px, 46px, 0);*/
    /*}*/
    /*10% {*/
        /*clip: rect(96px, 9999px, 12px, 0);*/
    /*}*/
    /*15% {*/
        /*clip: rect(36px, 9999px, 70px, 0);*/
    /*}*/
    /*20% {*/
        /*clip: rect(26px, 9999px, 79px, 0);*/
    /*}*/
    /*25% {*/
        /*clip: rect(17px, 9999px, 85px, 0);*/
    /*}*/
    /*30% {*/
        /*clip: rect(81px, 9999px, 33px, 0);*/
    /*}*/
    /*35% {*/
        /*clip: rect(80px, 9999px, 22px, 0);*/
    /*}*/
    /*40% {*/
        /*clip: rect(1px, 9999px, 28px, 0);*/
    /*}*/
    /*45% {*/
        /*clip: rect(99px, 9999px, 21px, 0);*/
    /*}*/
    /*50% {*/
        /*clip: rect(80px, 9999px, 15px, 0);*/
    /*}*/
    /*55% {*/
        /*clip: rect(54px, 9999px, 93px, 0);*/
    /*}*/
    /*60% {*/
        /*clip: rect(72px, 9999px, 60px, 0);*/
    /*}*/
    /*65% {*/
        /*clip: rect(84px, 9999px, 56px, 0);*/
    /*}*/
    /*70% {*/
        /*clip: rect(92px, 9999px, 91px, 0);*/
    /*}*/
    /*75% {*/
        /*clip: rect(17px, 9999px, 11px, 0);*/
    /*}*/
    /*80% {*/
        /*clip: rect(38px, 9999px, 16px, 0);*/
    /*}*/
    /*85% {*/
        /*clip: rect(10px, 9999px, 49px, 0);*/
    /*}*/
    /*90% {*/
        /*clip: rect(76px, 9999px, 100px, 0);*/
    /*}*/
    /*95% {*/
        /*clip: rect(72px, 9999px, 57px, 0);*/
    /*}*/
    /*100% {*/
        /*clip: rect(99px, 9999px, 62px, 0);*/
    /*}*/
/*}*/
/*.glitch:after {*/
    /*content: attr(data-text);*/
    /*position: absolute;*/
    /*left: 2px;*/
    /*text-shadow: -1px 0 red;*/
    /*top: 0;*/
    /*color: white;*/
    /*background: black;*/
    /*overflow: hidden;*/
    /*clip: rect(0, 900px, 0, 0);*/
    /*animation: noise-anim 2s infinite linear alternate-reverse;*/
/*}*/

/*@keyframes noise-anim-2 {*/
    /*0% {*/
        /*clip: rect(44px, 9999px, 70px, 0);*/
    /*}*/
    /*5% {*/
        /*clip: rect(22px, 9999px, 74px, 0);*/
    /*}*/
    /*10% {*/
        /*clip: rect(37px, 9999px, 94px, 0);*/
    /*}*/
    /*15% {*/
        /*clip: rect(1px, 9999px, 10px, 0);*/
    /*}*/
    /*20% {*/
        /*clip: rect(62px, 9999px, 57px, 0);*/
    /*}*/
    /*25% {*/
        /*clip: rect(15px, 9999px, 34px, 0);*/
    /*}*/
    /*30% {*/
        /*clip: rect(82px, 9999px, 32px, 0);*/
    /*}*/
    /*35% {*/
        /*clip: rect(35px, 9999px, 23px, 0);*/
    /*}*/
    /*40% {*/
        /*clip: rect(37px, 9999px, 72px, 0);*/
    /*}*/
    /*45% {*/
        /*clip: rect(65px, 9999px, 54px, 0);*/
    /*}*/
    /*50% {*/
        /*clip: rect(89px, 9999px, 61px, 0);*/
    /*}*/
    /*55% {*/
        /*clip: rect(78px, 9999px, 3px, 0);*/
    /*}*/
    /*60% {*/
        /*clip: rect(35px, 9999px, 58px, 0);*/
    /*}*/
    /*65% {*/
        /*clip: rect(52px, 9999px, 32px, 0);*/
    /*}*/
    /*70% {*/
        /*clip: rect(48px, 9999px, 67px, 0);*/
    /*}*/
    /*75% {*/
        /*clip: rect(74px, 9999px, 43px, 0);*/
    /*}*/
    /*80% {*/
        /*clip: rect(80px, 9999px, 43px, 0);*/
    /*}*/
    /*85% {*/
        /*clip: rect(13px, 9999px, 33px, 0);*/
    /*}*/
    /*90% {*/
        /*clip: rect(81px, 9999px, 15px, 0);*/
    /*}*/
    /*95% {*/
        /*clip: rect(38px, 9999px, 74px, 0);*/
    /*}*/
    /*100% {*/
        /*clip: rect(45px, 9999px, 83px, 0);*/
    /*}*/
/*}*/
/*.glitch:before {*/
    /*content: attr(data-text);*/
    /*position: absolute;*/
    /*left: -2px;*/
    /*text-shadow: 1px 0 blue;*/
    /*top: 0;*/
    /*color: white;*/
    /*background: black;*/
    /*overflow: hidden;*/
    /*clip: rect(0, 900px, 0, 0);*/
    /*animation: noise-anim-2 3s infinite linear alternate-reverse;*/

/*}*/

/*glitch эффект текста*/

/*отрисованное меню*/
#lines{
    /*отступы между черточками*/
    padding: 5%;

    border-bottom: 17px double black;
    border-top: 6px solid black;
    content:"";
    height: 5px;
    width:30px;
}

ul.nav{
    float: left;
}



#home h3{
    margin-bottom: 40px;
    font: 40px/40px Arial, sans-serif;
}

#home h1{
    margin-bottom: 50px;
    text-transform: uppercase;
    font: 75px/75px Arial, sans-serif;
}

.btn{
    margin: 1% 44% 90% 44%;
    display: inline-block;
    padding: 20px 30px;
    text-transform: uppercase;
    font: bold 24px/24px Arial, sans-serif;
    background: #ffffff;
    cursor: pointer;

    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
}

.btn:hover{
    background: #2da365;
    color: #fff;
}

.box{
    padding: 120px;
    background: #222 url(images/fon22.png) 100% 100% no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.box1{
    padding: 120px;
    background: #222 url(images/fon33.png) 100% 100% no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

#services{
    text-align: center;
}

h2.title{
    margin-bottom: 10px;
    text-transform: uppercase;
    font: bold 40px/40px Arial, sans-serif;
    color: #222;
}

h5.title{
    margin-bottom: 10px;
    font: bold 18px/18px Arial, sans-serif;
    color: #222;
}

.descr {
    margin-bottom: 10px;
    font-size: 16px;
    color: #777;
}

.services-wrap,
.portfolio-wrap,
.about-wrap{
    padding-top: 70px;
}

.services-item {
    float: left;
    width: 33.33%;
    padding: 90px 10px 0;
}

.services-item p{
    font-size: 18px;
    line-height: 24px;
    color: #777;
}

.commerce {  background: url(img/p-item2.jpg) no-repeat center top;  }
.responsive {  background: url(img/p-item3.jpg) no-repeat center top;  }
.security {  background: url(img/p-item4.jpg) no-repeat center top;  }

#portfolio{
    text-align: center;
    background: #F7F7F7;
}

.portfolio-item{
    float:left;
    width: 31%;
    marfin-right: 3.5%
}

.portfolio-item:nth-child(3n){
    margin-right: 0;
}

.p-item-footer{
    padding: 25px 20px;
}

.p-item-footer h5.title{
    margin-bottom: 4px;
}

#about {text-align: center;}
.about-text{
    width: 35%;
    outline: 1px solid red;
}

.about-img{
    width: 30%;
    outline: 1px solid red;
}

.about-text h5{
    line-height: 24px;
}

.about-text p{
    font-size: 16px;
    line-height: 24px;
    color: #777;
}

.about-img{
    width: 30%;
}

.about-img:after{
    content: '';
    display: block;
    height: 94px;
    width: 3px;
    margin: 0 auto;
    background: #f1f1f1;
}

.about-img img, .about-link{
    display: inline-block;
    width: 177px;
    height: 177px;
    border: 7px solid #f1f1f1;

    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}

.about-link{
    padding-top: 40px;
    text-transform: uppercase;
    color: #fff;
    font: bold 18px/30px Arial, sans-serif;
    background: #fed136;
    -webkit-text-shadow: 0 1px rgba(0,0,0,.3);
    -moz-text-shadow: 0 1px rgba(0,0,0,.3);
    -ms-text-shadow: 0 1px rgba(0,0,0,.3);
    -o-text-shadow: 0 1px rgba(0,0,0,.3);
    text-shadow: 0 1px rgba(0,0,0,.3);
}

.team-item img{
    border: 7px solid #fff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}

.cat{
    font: 14px/14px Arial, sans-serif;
    color: #777;
}

.social{
    margin-top: 10px;
}

.social a{
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 0 3px;
    border: 3px solid #222;
    background: url(../img/social-sparite.png) no-repeat;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}

.social a.ic-tw{background-position: 0 0;}

.social a.ic-tw:hover{
    background-position: 0 -40px;
    border-color: #00aced;
    background-color: #00ACED;
}

.social a.ic-fb{
    background-position: -40px 0;

}

.social a.ic-fb:hover{
    background-position: -40px -40px;
    border-color: #3b5998;
    background-color: #3b5998;
}

.social a.ic-pn{
    background-position: -80px 0;
}

.social a.ic-pn:hover{
    background-position: -80px -40px;
    border-color: #cb2028;
    background-color: #cb2028;
}

.social a.ic-gl{
    background-position: -120px 0;
}

.social a.ic-gl:hover{
    background-position: -120px -40px;
    border-color: #d95232;
    background-color: #d95232;
}

#team{
    text-align: center;
    padding: auto 50%;
}

#brand {
    padding: 60px 0;
    text-align: center;
}

#brand a{
    display: inline-block;
    margin-right: 40px;
}

#brand a:last-child{
    margin-right: 0;
}

#brand img{
    vertical-align: middle;
}

#contact{
    text-align: center;
    background: #222 url(img/maps-bg.jpg) no-repeat right bottom;
}

#contact{text-align: center;}

.textu{
   padding-top: 2px;
}











































